// Colors
$text-color: #434343;
$quiet-color: #696e6e;
$loud-color: #fe5196;
$heading-color: #537895;
$base-color: #f8f8f8;
$white-color: #fff;
$base-icon-color: #4c5871;
$overlay-color: rgba(0, 0, 0, .5);

// Shades
$shade-05: rgba(0, 0, 0, .05);
$shade-10: rgba(0, 0, 0, .1);
$shade-12: rgba(0, 0, 0, .12);
$shade-16: rgba(0, 0, 0, .16);
$shade-22: rgba(0, 0, 0, .22);
$shade-24: rgba(0, 0, 0, .24);
$shade-25: rgba(0, 0, 0, .25);
$shade-30: rgba(0, 0, 0, .3);
